<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  


<style>
    .myInp {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 20px;
}
button{
    width : 95%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 20px;

}
</style>
</head>
<body>

  <center>
<form action="/update" method="post">
    
    <input class="myInp" type="text" name="ammount">
    <input class="myInp" type="date" name="date">
    
    <input class="myInp" type="text" name="id" value="<%=id%>" readonly>
    <button>></button>
  </form>
</center>
  </body>
  </html>